body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
.progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 30px;
}
.progress-bar {
    width: 0%;
    background-color: #4CAF50;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease;
}
.step {
    display: none;
}
.active {
    display: block;
}
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}
.response {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}